
body {
    margin: 0;
    background: linear-gradient(to bottom right,#000000, #bde0fe );
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;

}


.stitch {
    position: fixed;
    height: auto;
    width: 260px;
    bottom: 20px;
    right: 20px;
}

body::before {
    content: "";
    position: absolute;
    width: 200%;
    height: auto;
    background: radial-gradient(circle at 20% 30%, rgba(255,255,255,0.2) 2%, transparent 3%),
                radial-gradient(circle at 70% 60%, rgba(255,255,255,0.2) 2%, transparent 3%),
                radial-gradient(circle at 40% 80%, rgba(255,255,255,0.2) 2%, transparent 3%);
    animation: float 20s linear infinite;
}

.letter img {
    width: 100%;
    height: 100%;
    border-radius: 15px ;
    margin-top: 15px;
    box-shadow: 0 5px 15px rgba(0, 0 ,0, 0, 2 );
}

@keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(-50px); }
}

.container {
    position: relative;
    z-index: 1;
}

.envelope {
    font-size: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.envelope:hover {
    transform: scale(1.1);
}

.envelope p {
    margin-top: 10px;
    color: white;
}

.letter {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.letter h2 {
    margin-top: 0;
    color: #3a86ff;
}

.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

p {
    font-size: 22px;

}