
body {
    margin: 0;
    background: linear-gradient(to bottom right, #000000, #bde0fe);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    overflow-x: hidden;
    min-height: 200vh;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.envelope {
    font-size: 80px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.6s ease;
}

.envelope:hover {
    transform: scale(1.1);
}

.envelope p {
    margin-top: 10px;
    color: white;
}

.envelope.fade-out {
    opacity: 0;
    pointer-events: none;
}


.flower {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 300px;
    z-index: 5;
    transition: transform 0.5s ease;
}

.flower.show {
    transform: translateX(-50%) scale(1);
}


.letter {
    position: relative;
    background: white;
    color: #333;
    padding: 30px;
    text-align: center; 
    border-radius: 15px;
    max-width: 500px;
    margin: 530px auto 50px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.letter h2 {
    margin-top: 0;
    color: #3a86ff;
}

.letter p {
    font-size: 22px;
}

.letter img.polaroid {
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 5px 15px rgba(0, 0 ,0, 0.2);
}

/* Stitch */
.stitch {
    position: fixed;
    height: auto;
    width: 260px;
    bottom: 20px;
    right: 20px;
}

.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}










